<h1>User info</h1>
<% if current_user == @user %>
  <%= link_to("Edit profile", edit_user_path(@user)) %>
<% end %>
<br>
Email: <%= @user.email %>
<br>
Name: <%= @user.name %>
<br>
<%= @user.bio %>
<br>
<%= link_to("Posts", user_posts_path(@user)) %>
<br>
<%= link_to("followers", user_followers_path(@user) )%>
<%= link_to("followings", user_followings_path(@user) ) %>
<br>
<% if current_user.present? && current_user != @user %>
  <% @user.followers.each do |follower| %>
    <% if follower.id == current_user.id %>
      <% @flag = true %>
    <% end %>
  <% end %>
  <% if @flag == false %>
    <%= link_to("Follow", follows_path(following_id: @user.id), method: :post) %>
  <% else %>
    <%= link_to("Unfollow", follows_path(following_id: @user.id), method: :post) %>
  <% end %>
<% end %>