<!DOCTYPE html>
<html>
  <head>
    <title>MyGram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <br>
  <br>
  <% if current_user.present? %>
    <%= link_to("Profile", user_path(current_user)) %>
    <%= link_to("Sign out", destroy_user_session_path, method: :delete) %>
    <%= link_to("All users", root_path) %>
    <%= link_to("Feed", feed_posts_path(current_user)) %>

    <br>
  <% else %>
    <%= link_to("Sign_up", new_user_registration_path) %>
    <%= link_to "Sign_in", new_user_session_path %>
  <% end %>

    <%= yield %>
  </body>
</html>
